@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Cookie|Playball|Sail);

body {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  background-image: url("sunset.JPG");
  background-size: cover;
  background-attachment: fixed;
  min-width: : 960px;
  max-height: inherit;
}

p {
  font-size: 32px;
  font-family: serif;
  color: white;
}

header {
  margin: 10px;
  padding: 30px
}

li {
  list-style: none;
}
ul {
  display: inline;

}

nav {
  background-color: white;
  font-size: 20px;
  font-family: 'Sail', cursive;
  font-weight: bold;
  color: yellow;
  text-align: right;
  margin-top: 100px;
  background-blend-mode: soft-light;

}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}

.navbar {
  display: inline-flex;
}

.logo {
  float: left;
  padding: 10px;
  margin: 5px;
}

.social_hub {
  text-align: center;
  display: inline-flex;
  }

.social_hub img {
      opacity: 0.5;
      filter: alpha(opacity=40);
  }

.social_hub img:hover {
      opacity: 1.0;
      filter: alpha(opacity=100);
  }

.contact {
  float: right;
  text: solid white;
  margin:2px;
  margin:solid white;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid white;

}

.contact-btn a:active {
  position: relative;
  top: 2px;
}
